* {
    margin: 0;
    padding: 0;
  }
section{
  width: 700px;
  border: 2px solid #ccc;
  margin: 50px auto;
  background-color: rgb(212, 247, 241);
}
input{
    border-radius: 20px;
    height:10;
    width: 70%;
    margin-left: 15px;
}
#addbtn{
     background-color: #559fd1; 
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-left: 20px;
     float: none;
}
#addbtn:hover{
    background-color: #308db8
}
#addbtn:active {
     background-color: #559fd1;
     box-shadow: 0 5px #666;
     transform: translateY(1px);
}
ul{
    list-style: none;
}
  
li{
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}
button:nth-of-type(1){
    background-color: burlywood; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;  
    border: 1px solid black; 
}
button:nth-of-type(2){
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;   
    border: 1px solid black; 
}